@page
@model Simple_CRUD_App.Pages.ContactsModel
@{
    ViewData["Title"] = "Контакты";
}
<script src="~/js/createTable.js"></script>
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#contactModal" data-bs-whatever="create">Добавить</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Номер телефона</th>
            <th scope="col">Должность</th>
            <th scope="col">Дата рождения</th>
        </tr>
    </thead>
    <tbody id="table-body"></tbody>
</table>
<!-- Модальное окно добавления/изменения контакта -->
<div class="modal fade" id="contactModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="contactModalLabel">Добаление контакта</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form id="modalForm" method="post" >
                <div class="modal-body">
                    <div id="errors" class="text-danger"></div>
                    <input id="form-id" hidden/>
                    <label for="form-name" class="form-label">ФИО</label>
                    <input id="form-name" autocomplete="username" type="text" name="name" class="form-control" placeholder="ФИО" required>
                    <label for="form-phone" class="form-label">Номер телефона</label>
                    <input id="form-phone" autocomplete="tel" type="tel" name="mobilePhone" class="form-control" placeholder="+999999999999" required>
                    <label for="form-job-title" class="form-label">Должность</label>
                    <input id="form-job-title" type="text" name="jobTitle" class="form-control" placeholder="Должность" required>
                    <label for="form-birth-date" class="form-label">Дата рождения</label>
                    <input id="form-birth-date" type="date" name="birthDate" class="form-control" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-outline-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    createTableBody();
    addModalEvents();
</script>
