@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-5">Тестовое задние:</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <div class="text-black text-start">
        <p><b>Разработать ASP.NET веб-приложение с одной страницей, на которой отображать список Контактов с возможностью добавления, изменения, удаления контактов. <br> Список Контактов брать из локальной базы данных.</b></p>
        <ul>
            <li>Логика приложения:</li>
        </ul>

         Логика на стороне сервера приложения:
        Реализовать логику CRUD (создания, изменения, удаления и чтение) сущности контактов.

        Основные свойства Контакта, следуемые использовать для выполнения домашнего задания:
        1. Name
        2. MobilePhone
        4. JobTitle
        5. BirthDate

        -- Логика на стороне пользовательского интерфейса:
        Следует разработать web-страницу, на которой будет отображаться список Контактов, при выборе контакта должна появляться возможность изменять значение его свойств, а также должна быть возможность создания и удаление Контактов.
        Добавление и редактирование контактов реализовать, используя всплывающие окна (попапы).
        Требуется реализовать валидацию введенных значений с помощью javascript (критерии валидации придумать самостоятельно).
    </div>
</div>