@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="container mt-4">
    <h1 class="mb-4">Тестовое задание</h1>

    <p class="mb-4">
        <strong>Разработать ASP.NET веб-приложение с одной страницей, на которой отображать список Контактов с возможностью добавления, изменения, удаления контактов.</strong>
        <br>
        <strong>Список Контактов брать из локальной базы данных.</strong>
    </p>

    <div class="mb-4">
        <h5>Логика на стороне сервера приложения:</h5>
        <p class="ps-3">Реализовать логику CRUD (создания, изменения, удаления и чтение) сущности контактов.</p>
    </div>

    <div class="mb-4">
        <h5>Основные свойства Контакта:</h5>
        <ul>
            <li>Name</li>
            <li>MobilePhone</li>
            <li>JobTitle</li>
            <li>BirthDate</li>
        </ul>
    </div>

    <div class="mb-4">
        <h5>Логика на стороне пользовательского интерфейса:</h5>
        <p class="ps-3">
            Следует разработать web-страницу, на которой будет отображаться список Контактов, при выборе контакта должна появляться возможность изменять значение его свойств, а также должна быть возможность создания и удаление Контактов.
        </p>
        <p class="ps-3">
            Добавление и редактирование контактов реализовать, используя всплывающие окна (попапы).
        </p>
        <p class="ps-3">
            Требуется реализовать валидацию введенных значений с помощью javascript (критерии валидации придумать самостоятельно).
        </p>
    </div>

    <div class="text-center">
        <a href="/Contacts" class="btn btn-primary">Перейти к приложению</a>
    </div>
</div>